<nav class="flex flex-row justify-between">
    <h2 class="max-[600px]:mt-4 mt-2 px-8 ml-6 text-xl py-1 ">Pinterest</h2>
    <a class="px-8  text-xs py-3 bg-zinc-500 rounded-full mt-3 mr-8" href="/feed">Feeds</a>
    <a class="px-7 text-xs py-3 bg-red-500 rounded-full mt-3 mr-4" href="/logout">Logout</a>
</nav>